<html lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no, date=no, address=no, email=no" />
        <style>
            body { font-family: Arial; padding: 1em }
            * { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-color: transparent !important; }
            @media (prefers-color-scheme: dark) {
                body { font-family: Arial; padding: 1em; color: white; }
            }
        </style>
    </head>
<body>

    <h4>v1.3.0</h4>
    <ul>
        <li>bearbeiten von sammlungen gefixt</li>
        <li>alternatives dunkles app icon hinzugefügt</li>
        <li>alternative sammlungs ansicht hinzugefügt</li>
        <li>verschönerung der actionSheets</li>
        <li>symbole und icons ausgetauscht / verschönert</li>
        <li>cleanup & bugfixes</li>
    </ul>
    
    <h4>v1.2.7</h4>
    <ul>
        <li>standard bilder nun transparent</li>
        <li>farb und font updates</li>
        <li>aufräumarbeiten und verbesserungen</li>
    </ul>
    
    <h4>v1.2.6</h4>
    <ul>
        <li>added new view under gekauft -> "+" -> reihe auswählen</li>
        <li>Interner Test (privat)</li>
    </ul>

    <h4>v1.2.5</h4>
    <ul>
        <li>Removed "Author:" prefix</li>
        <li>Removed available & completion status</li>
        <li>Added "x/x" counter</li>
        <li>Added editing to Wishlist</li>
        <li>Fixed broken Wishlist image picker</li>
        <li>Removed footer</li>
        <li>Updated AppStore Images</li>
    </ul>
    
    <h4>v1.2.4</h4>
    <ul>
        <li>Interner Test (privat)</li>
    </ul>
    
    <h4>v1.2.3</h4>
    <ul>
        <li>"MangaSammlung" und "GekaufteMangas" Filter überarbeitet ( jetzt auch mit visuellem Effekt )</li>
        <li>Image API ausgetauscht (später vllt beide parallel laufen lassen ...)</li>
        <li>Nur ein kleines Update ... sonst nichts ^^</li>
    </ul>

    <h4>v1.2.2</h4>
    <ul>
        <li>Interner Test (privat)</li>
    </ul>
    
    <h4>v1.2.1</h4>
    <ul>
        <li>Erster Release am 27.12.19 geplant</li>
        <li>Erinnerung benötigt "Notifications"</li>
        <li>Ansicht "Gekaufte Mangas" benötigt eine zuvor erstellte "Manga Sammlung"</li>
        <li>App-Crash gefixt (Beim hinzufügen eines Mangas zur Wunschliste)</li>
        <li>Frohe Weihnachten an alle die dies lesen <3 ^^</li>
    </ul>
    
    <h4>v1.2.0</h4>
    <ul>
       <li>Zellen der Wunschliste besitzen nun einen Titel</li>
       <li>App-Crash gefixt (Hinzufügen eines Gekauften Mangas ohne vorher eine Reihe angelegt zu haben)</li>
       <li>Gekaufte Mangas hinzufügen zeigen nun die Manga Reihen in alphabetischer Reihenfolge an (nicht wie vorher nach Erstellung)</li>
       <li>Impressum, Datenschutz, Lizenzen und Änderungen hinzugefügt</li>
    </ul>
    
</body>
</html>
