<html lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no, date=no, address=no, email=no" />
        <style>
            body { font-family: Arial; padding: 1em }
            * { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-color: transparent !important; }
            @media (prefers-color-scheme: dark) {
                body { font-family: Arial; padding: 1em; color: white; }
            }
        </style>
    </head>
<body>
    
    <h3>Hinweis</h3>
    
    <p>Momentan werden alle Daten lokal gespeichert. In späteren Versionen ist jedoch geplant die Daten annonymisiert via Firebase (Google) Online zu speichern, um das Teilen mit Freunden/-innen zu ermöglichen. Über diese Änderungen wird dann selbstverständlich benachrichtigt. Außerdem wird dann die Möglichkeit geboten zu entscheiden wo die Daten gespeichert werden sollen (Offline oder Online).</p>
    
    <p>Bei Fragen oder Bedenken einfach ein Feedback via Mail senden.</p>

</body>
</html>
