<html lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no, date=no, address=no, email=no" />
        <style>
            body { font-family: Arial; padding: 1em }
            * { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-color: transparent !important; }
            @media (prefers-color-scheme: dark) {
                body { font-family: Arial; padding: 1em; color: white; }
            }
        </style>
    </head>
<body>
    
    <h2>Angaben gemäß §5 TMG</h2>

    <p>Dominic Drees<br>
    Havkenscheider str.26<br>
    44803 Bochum<br><br>
    
    Kontakt:<br>
    Telefon: +49 151 65143990<br>
    E-Mail: dominic.drees@live.de<p>
</body>
</html>
